html {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
}

p {
	
	text-align: center;
	font-size: 12pt;
}

h1 {
	text-align: center;
	margin: 30px auto;
}

h2 {
	width: 100%;	
	display: inline-block;
	text-align: center;
	margin: 20px auto;
}

li {
	list-style: none;
	margin: 20px;
}


#container-1 {
	background-color: #6696CC;
	float: left;	
	width: 100%;
	height: 100vh;
}

.content-player {
	background-color: white;
	width: 65%;
	height: 470px;
	margin: 0 auto;
}

.register-here {
	background-color: white;
	width: 15%;
	margin: 30px auto;
	border: 2px;
	border-color: black;
}

#rh-styles {
	text-align: center;
	padding: 14px;
	margin: 0;
	font-size: 14pt;
}

#t-i-o {
	text-align: center;
	color: white;
	margin-top: 20px;
	font-size: 15pt;
}



#container-2 {
	background-color: white;
	float: left;
	width: 100%;		
}

.column-1 {
	background-color: white;
	float: left;
	width: 50%;
}

.column-2 {
	background-color: white;
	float: left;
	width: 50%;
}

#column_1_p {
	float: right;
	margin: 0 30px 0 0;
	width: 70%;
	text-align: left;
	padding: 72px 0px 72px 0px;
}

#column_2_p {
	float: left;
	margin: 0 0 0 30px;
	width: 70%;
	text-align: left;
	padding: 72px 0px 72px 0px;
}

.hr-1 {
	width: 80%;
}

.column-3 {
	background-color: white;
	width: 50%;
	float: left;
}

.column-4 {
	background-color: white;
	width: 50%;
	float: left;
}

#commonwealthA {
	text-align: center;
	width: 100%;
	font-size: 18pt;
}

#DLA {
	text-align: center;
	width: 100%;
	font-size: 18pt;
}

.circle-1 {
	margin-left: auto;
	margin-right: auto;
	margin-top: 70px;
	width: 300px;
	height: 300px;
	background: white;
	border: 2px solid black;
	-moz-border-radius: 150px;
	-webkit-border-radius: 150px;
	border-radius: 150px;
}

#MichaelS {
	text-align: center;
}

#michaelS_p {
	text-align: center;
	width: 70%;
	font-size: 12pt;
	margin: 0 auto;
}


.sm-column-1 {
	background-color: white;
	float: left;
	width: 50%;
}

.sm-column-2 {
	background-color: white;
	float: left;
	width: 50%;
}

.sm-column-3 {
	background-color: white;
	float: left;
	width: 50%;
}

.sm-column-4 {
	background-color: white;
	float: left;
	width: 50%;
}

.sm-circle-1 {
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	width: 140px;
	height: 140px;
	background: white;
	border: 2px solid black;
	-moz-border-radius: 70px;
	-webkit-border-radius: 70px;
	border-radius: 70px;
}

.sm-circle-2 {
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	width: 140px;
	height: 140px;
	background: white;
	border: 2px solid black;
	-moz-border-radius: 70px;
	-webkit-border-radius: 70px;
	border-radius: 70px;
}

.sm-circle-3 {
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	width: 140px;
	height: 140px;
	background: white;
	border: 2px solid black;
	-moz-border-radius: 70px;
	-webkit-border-radius: 70px;
	border-radius: 70px;
}

.sm-circle-4 {
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	width: 140px;
	height: 140px;
	background: white;
	border: 2px solid black;
	-moz-border-radius: 70px;
	-webkit-border-radius: 70px;
	border-radius: 70px;
}


#sponsors {
	background-color: #f0f0f5;
	width: 100%;
	float: left;
}

#platinum-container {
	width: 84%;
	margin: 0 auto;
	height: 140px;
}

#platinum-container-2 {
	width: 52.5%;
	margin: 0 auto;
	height: 140px;
}

.platinum-sponsors {
	background-color: gray;
    margin: 5px;
    width: 141px;
    height: 100px;
    float: left;
}

.gold-sponsors {
	background-color: gray;
    margin: 5px;
    width: 141px;
    height: 100px;
    float: left;
}





#become-sponsor {
	float: left;
	width: 100%;
	background-image: url("http://cdn.wonderfulengineering.com/wp-content/uploads/2014/07/background-wallpapers-26.jpg");
	background-size: cover;
	
}

#become-sponsor-insideContainer {
	margin: 0 auto;
	background-color: green;
	width: 80%;
}

.become-sponsor-insideColumns {
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: white;
	background:rgba(255,255,255, 0.3);
	float: left;
	width: 50%;
}

.insideColumns-p {
	width: 80%;
	margin: 0 auto;
}

.button-insideColumn {
	margin: 30px auto;
	width: 70%;
	background-color: green;
	border: 1px solid black;
}

.button-insideColumn-2 {
	margin: 30px auto;
	width: 70%;
	border: 1px solid black;

}





#container-3 {
	background-color: gray;
	float: left;
	width: 100%;
}


.column-5 {
	background-color: gray;
	float: left;
	width: 50%;
}


.column-6 {
	background-color: gray;
	float: left;
	width: 50%;
}

.column-5-h2 {
	text-align: left;
	margin-left: 70px;
	width: 90%;
}

.column-7 {
	background-color: gray;
	float: left;
	width: 100%;
}

#column-5_p {
	width: 80%;
	text-align: left;
	margin: 0 auto;
}



#column-7_p {
	width: 80%;
	text-align: center;
	margin: 30px auto;
}

.list-container {

}

.list-1 {
	float: left;
}

.list-2 {
	float: left;
}



#container-4 {
	margin-top: 10px;
	float: left;
	width: 100%;
	height: 150vh;
}

#categories {
	font-size: 20pt;
	text-align: center;
	margin: 20px auto;
}
.individual-c {
	
}

.organization-c {
	
}

.innovation-c {
	
}

#cut-c {
	width: 60%;
}


.sm-circle-5 {
	float: left;
	margin-right: 50px;
	margin-left: 15px;
	margin-top: 25px;
	width: 100px;
	height: 100px;
	background: white;
	border: 2px solid black;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

.sm-circle-6 {
	float: left;
	margin-right: 50px;
	margin-left: 50px;
	margin-top: 25px;
	width: 100px;
	height: 100px;
	background: white;
	border: 2px solid black;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}


.sm-circle-7 {
	float: left;
	margin-right: 50px;
	margin-left: 50px;
	margin-top: 25px;
	width: 100px;
	height: 100px;
	background: white;
	border: 2px solid black;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

.copy {
	
}

#award-title {

}

#award-paragraph {
	text-align: center;
    font-size: 11pt;
}


.sm-column-8 {
	display: inline-block;
	width: 25%;
	margin-bottom: 40px;
	margin-left: 85px;
}

























